@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

@media only screen and (max-device-width: 375px) {
  div#wrapper {
    width: 400px;
  }
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}

.box-shadow-menu::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: #172b43;
  box-shadow:
    0 0.25em 0 0 #172b43,
    0 0.5em 0 0 #172b43;
}

.menu_icon {
  flex: auto;
  padding-left: 85%;
  padding-right: 30%;
  margin-top: 5%;
}

.upper_word {
  color: #172b4d;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 40px;
}

.down_word {
  display: flex;
  color: #36b37e;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 40px;
}

.main_section {
  background-image: url("img/header-illsutration-mobile@2x.png");
  background-size: 100% auto;
  background-position: center center;
}

p {
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 8%;
  color: #172b4d;
}

.social_links {
  margin-left: 30px;
  margin-right: 30px;
  color: #505f79;
}

li {
  display: inline-block;
}

.icon {
  margin: 7px;
}

.IndicatorIndi{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
  margin-top: 5%;
  width: 15%;
}

/* GRID =========================== */
.grid-container{
  max-width: 327px;
  height: 474px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 2fr 1fr 2fr ;
  background-color:#EBF0EE;
  border-color: #EBF0EE;
  border-width: 50px;
  border-radius: 8px;
  border: 1px solid #C1C7D0; 
  margin-top: 10%; 
}
.grid-item {
 border-radius: 8px;
 
}
.main {
  background-color: #FFFFFF;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

h3{
  font-family: Inter;
  text-align: center;
  font-size: 24px;
}

/* FLEXBOX ======================*/ 
.flex-container{
  display: flex;
  gap: 10px;
  background-color: #FFFFFF;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  
}
.flex-item {
  flex: 1;
  border-radius: 8px;
  color: #3A4A42;
  
}
.flex-item1{
  background-color:#EBF0EE;
  flex: 2;
  width: 90px; 
  height: 32px;
  border-radius: 8px;
  font-family: Inter;
  font-size: 10px;
  text-align: center;
  color: #3A4A42;
  line-height: 16px;
  border-bottom-left-radius: 4%;
  
  
}
.flex-item2 {
  background-color:#EBF0EE;
  height: 32px;
  font-family: Inter;
  font-size: 10px;
  text-align: center;
  color: #3A4A42;
  line-height: 16px;
}
.flex-item3{
  background-color:#EBF0EE;
  height: 32px;
  font-family: Inter;
  font-size: 10px;
  text-align: center;
  color: #3A4A42;
  line-height: 16px;
  
}
.flex-item4{
  background-color:#EBF0EE;
  height: 32px;
  font-family: Inter;
  font-size: 10px;
  text-align: center;
  color: #3A4A42;
  line-height: 16px;
  border-bottom-right-radius: 4%;
  
}
h4{
  margin-top: 8px;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  background-color: #36B37F;
  border-radius: 2px;  
  width: 122px; 
  height: 48px;
  color: whitesmoke;
  font-size: 17px;
}
.last {  
  background-color: #FFFFFF;
  display: grid;  
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  }  

  button {  
  background-color: lightblue;    
  margin: auto;  
  width: 122px;  
  height: 48px; 
  } 

/* About Section */
.First-image img{
  float: right;
}
.grid-image{
  max-width: 327px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr ;
  border-width: 50px;
  border-radius: 8px;

}

.button-resume {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  background-color: #36B37F;
  border-radius: 2px;  
  width: 150px; 
  height: 48px;
  color: whitesmoke;
  font-size: 17px;
  margin-top: 7%;
}
.grid-container-about h1{
  margin-left: 20%;
  margin-bottom: 5%;
}
.about_text {
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #172b4d;
}
.grid-container-ab{
  max-width: 327px;
  height: 316px;
  width: 327px;
  margin: auto;
  margin-top: 15%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 2fr 1fr 2fr ;
  background-color:#EBF0EE;
  border-color: #EBF0EE;
  border-width: 50px;
  border-radius: 8px;
  border: 1px solid #C1C7D0;  
}
.grid-language {
  border-radius: 8px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  width: 17.53px;
  height: 20.39px;
}
.title h3{
color: #344563;
margin-top: 2%;
}
.grid-about {
  border-radius: 8px;
  
 }

.flex-container-about{
  display: flex;
  gap: 10px;
  background-color: #EBF0EE;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}
.flex-about {
  flex: 1;
  border-radius: 8px;
  color: #3A4A42;
  
}
.flex-aboutjs{
  background-color:#ffffff;
  flex: 1;
  width: 20px; 
  height: 32px;
  border-radius: 8px;
  font-family: Inter;
  font-size: 10px;
  text-align: center;
  color: #36B37E;
  line-height: 16px;
  margin-left: 7%;
}
.flex-about1{
  background-color:#ffffff;
  flex: 2;
  width: 90px; 
  height: 32px;
  border-radius: 8px;
  font-family: Inter;
  font-size: 10px;
  text-align: center;
  color: #36B37E;
  line-height: 16px;
  margin-left: 7%;
}
.flex-about2 {
  background-color: #ffffff;
  height: 32px;
  font-family: Inter;
  font-size: 10px;
  text-align: center;
  color: #36B37E;
  line-height: 16px;
}
.flex-about3{
  background-color:#ffffff;
  height: 32px;
  font-family: Inter;
  font-size: 10px;
  text-align: center;
  color: #36B37E;
  line-height: 16px;
  margin-right: 3%;
  flex: 1;
  
}
.flex-about4{
  background-color:#ffffff;
  height: 32px;
  font-family: Inter;
  font-size: 10px;
  text-align: center;
  color: #36B37E;
  line-height: 16px;
  margin-right: 5%;
}
.flex-aboutCapy{
  background-color:#ffffff;
  flex: 0.3;
  height: 32px;
  border-radius: 8px;
  font-family: Inter;
  font-size: 10px;
  text-align: center;
  color: #36B37E;
  line-height: 16px;
  margin-left: 20%;
  margin-top: 2%;
}
.flex-about6 {
  flex: 0.4;
  background-color: #ffffff;
  height: 32px;
  font-family: Inter;
  font-size: 10px;
  text-align: center;
  color: #36B37E;
  line-height: 16px;
  margin-top: 2%;
}
.flex-aboutdb{
  background-color:#ffffff;
  flex: 1.7;
  width: 20px; 
  height: 32px;
  border-radius: 8px;
  font-family: Inter;
  font-size: 10px;
  text-align: center;
  color: #36B37E;
  line-height: 16px;
  margin-left: 7%;
}
.flex-aboutvs{
    background-color: #ffffff;
    height: 32px;
    font-family: Inter;
    font-size: 10px;
    text-align: center;
    color: #36B37E;
    line-height: 16px;
    flex: 0.9;
    margin-right: 10%;
  }
  .flex-aboutapi {
    flex: 0.3;
    background-color: #ffffff;
    height: 32px;
    font-family: Inter;
    font-size: 10px;
    text-align: center;
    color: #36B37E;
    line-height: 16px;
    margin-top: 2%;
    margin-right: 11%;
  }
  .flex-aboutweb {
    flex: 0.5;
    background-color: #ffffff;
    height: 32px;
    font-family: Inter;
    font-size: 10px;
    text-align: center;
    color: #36B37E;
    line-height: 16px;
    margin-top: 2%;
  }
  .flex-aboutcli{
    background-color:#ffffff;
    flex: 0.3;
    height: 32px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 10px;
    text-align: center;
    color: #36B37E;
    line-height: 16px;
    margin-left: 7%;
    margin-top: 2%;
  }